.low-nav {
    background-color: #1f2937;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.low-nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.low-nav a {
    color: white;
    text-decoration: none;

    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;

    transition: color 0.3s;
}

.low-nav a:hover {
    color: #3b82f6;
}

.high-nav {
    background-color: #abbacf;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.high-nav h1 {
    font-size: 2.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.high-nav img{
    margin: 10px;
    width: 6rem;
}
  
@media (max-width: 600px) {
    .low-nav ul {
        gap: 10px
    }

    .low-nav a {
        font-size: 0.9rem;
    }
}